

<div class="modal-header">
  <h3 class="modal-title">{{title}}</h3>
</div>
<div class="modal-body">
<form>
  <div><input ng-model="columnName" type="text"/></div>
  <div><label><input type="radio" ng-model="columnType" value="string"> String</label></div>
  <div><label><input type="radio" ng-model="columnType" value="object"> Object</label></div>
</form>

</div>
<div class="modal-footer">
  <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
  <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
</div>