<div class="modal-header">
  <h3 class="modal-title">{{title}}</h3>
</div>
<div class="modal-body">

  <div class="input-group">
    <span class="input-group-addon">Name:</span>
    <input type="text" class="form-control" placeholder="description" ng-model="filterName">
  </div>

  <div class="input-group">
    <span class="input-group-addon">Predicate:</span>
    <!--<input type="text" class="form-control" placeholder="description" ng-model="filterPredicate">-->
    <ol class="nya-bs-select btn-info input-group-btn" ng-model="filterPredicate" data-live-search="false" style="display: block;">
      <li nya-bs-option="predicate in predicates track by predicate.$id()">
        <a>
          {{ predicate.name }}
        </a>
      </li>
    </ol>
  </div>

  <div class="input-group">
    <span class="input-group-addon">Individual type:</span>
    <div class="input-group-btn" style="width:100%;">
      <button type="button" class="btn btn-default half" ng-click="switchToString()"     ng-class="{active:filterTypeString}">String</button>
      <button type="button" class="btn btn-default half" ng-click="switchToIndividual()" ng-class="{active:filterTypeIndividual}">Individual</button>
    </div>
  </div>

  <div class="input-group" ng-repeat="condition in conditions">

    <span class="input-group-addon">Filter:</span>
    <div class="input-group-btn search-panel">
      <button type="button" class="btn btn-default dropdown-toggle wv-cutoff-corners" data-toggle="dropdown">
        <span id="search_concept">{{condition.operation}}</span> <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li ng-repeat="(label, selector) in operations track by $index" ng-class="{divider:selector=='-'}">
          <a ng-if="label!='-'" style="width:100%;cursor:pointer;" ng-click="condition.operation = label">{{label}}</a>
        </li>
      </ul>
    </div>


    <span ng-show="operations[condition.operation]=='none'" style="width:40%;">
      <input type="text" class="form-control" name="x" disabled>
    </span>
    <span ng-show="operations[condition.operation]=='string'" style="width:40%;">
      <input type="text" class="form-control" name="x" placeholder="value" ng-model="condition.value">
    </span>
    <ol class="nya-bs-select btn-info" ng-model="condition.individualEntity" data-live-search="true" ng-show="operations[condition.operation]=='individual'" style="display: block;">
      <li nya-bs-option="individual in objects track by individual.$id()">
        <a>
          {{ individual.name }}
        </a>
      </li>
    </ol>
    <ol class="nya-bs-select btn-info" ng-model="condition.modelEntity" data-live-search="true" ng-show="operations[condition.operation]=='model'" style="display: block;">
      <li nya-bs-option="model in models track by model.$id()">
        <a>
          {{ model.name }}
        </a>
      </li>
    </ol>




    <div class="input-group-btn">
      <button class="btn btn-default" type="button" ng-click="removeCondition(condition)"><i class="fa fa-minus-circle" style="color:red"></i></button>
      <button class="btn btn-default" type="button" ng-click="addCondition()"><i class="fa fa-plus-circle" style="color:green"></i></button>
    </div>

  </div>








</div>
<div class="modal-footer">
  <button class="btn btn-danger pull-left" type="button" ng-click="delete()"><i class="fa fa-trash"></i> Delete</button>
  <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
  <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
</div>