<div class="modal-header">
  <h3 class="modal-title">{{title}}</h3>
</div>
<div class="modal-body">

  <div class="input-group">
    <span class="input-group-addon">Name:</span>
    <input type="text" class="form-control" ng-model="filterName">
  </div>

  <div class="input-group">
    <span class="input-group-addon">Object type:</span>
    <div class="input-group-btn" style="width:100%;">
      <button type="button" class="btn btn-default half" ng-click="switchToString()" ng-class="{active:filterTypeString}">String</button>
      <button type="button" class="btn btn-default half" ng-click="switchToObject()" ng-class="{active:filterTypeObject}">Object</button>
    </div>
  </div>

  <div class="input-group" ng-repeat="condition in conditions">

    <span class="input-group-addon">Filter:</span>
    <input type="text" class="form-control" name="x" placeholder="predicate" ng-model="condition.predicate">
    <div class="input-group-btn search-panel">
      <button type="button" class="btn btn-default dropdown-toggle wv-cutoff-corners" data-toggle="dropdown">
        <span id="search_concept">{{condition.operation.label}}</span> <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li ng-repeat="(label, selector) in operations track by $index" ng-class="{divider:selector=='-'}">
          <a ng-if="label!='-'" style="width:100%;cursor:pointer;" ng-click="condition.operation = label">{{label}}</a>
        </li>
      </ul>
    </div>


    <span ng-show="operations[condition.operation]=='none'" style="width:40%;">
      <input type="text" class="form-control" name="x" disabled>
    </span>
    <span ng-show="operations[condition.operation]=='string'" style="width:40%;">
      <input type="text" class="form-control" name="x" placeholder="value" ng-model="condition.value">
    </span>
    <ol class="nya-bs-select btn-info" ng-model="condition.object" data-live-search="true" ng-show="operations[condition.operation]=='object'" style="display: block;">
      <li nya-bs-option="object in objects track by object.$id()">
        <a>
          {{ object.name }}
        </a>
      </li>
    </ol>
    <ol class="nya-bs-select btn-info" ng-model="condition.view" data-live-search="true" ng-show="operations[condition.operation]=='view'" style="display: block;">
      <li nya-bs-option="view in views track by view.$id()">
        <a>
          {{ view.name }}
        </a>
      </li>
    </ol>




    <div class="input-group-btn">
      <button class="btn btn-default" type="button" ng-click="removeCondition(condition)"><i class="fa fa-minus-circle" style="color:red"></i></button>
      <button class="btn btn-default" type="button" ng-click="addCondition()"><i class="fa fa-plus-circle" style="color:green"></i></button>
    </div>

  </div>








</div>
<div class="modal-footer">
  <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
  <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
</div>