<div style="margin:20px">
  <span style="    font-size: 15pt;"><i class="fa fa-tag"></i> {{dataset.$id()}}</span>
  <a style="margin-left:10px;" class="pull-right btn-sm btn-primary"><i class="fa fa-download"></i></a>

</div>
<div id="data-workbench">

  <div style="width:275px; min-width: 275px;" id="trees-section">
    <div id="trees-header">




      <div class="btn-group btn-group-sm" style="width:100%" role="group" aria-label="...">
        <button style="width:50%" ng-click="selectView('data')" type="button" class="btn btn-default" ng-class="{active:activeTree=='data'}">Objects</button>
        <button style="width:50%" ng-click="selectView('collection')" type="button" class="btn btn-default" ng-class="{active:activeTree=='collection'}">Collections</button>
      </div>

    </div>

    <div id="trees-body">
      <span  ng-if="activeTree=='data'">
        <treecontrol class="tree-classic" tree-model="allObjects" on-selection="showSelected(node)" options="objectTreeOptions">
          <a ng-click="buttonClick($event, node)">{{node.name}}</a>
        </treecontrol>
      </span>
      <span ng-show="activeTree=='collection'">
        <treecontrol class="tree-classic" tree-model="collectiontree" on-selection="showSelected(node)" options="collectionTreeOptions">
          <a>{{node.label}}</a>
        </treecontrol>
      </span>
    </div>
  </div>

  <div id="tables-section">
    <div id="tables-header">
      <ul class="nav nav-tabs">
        
        <!-- Objects -->
        <li ng-repeat="object in openObjects" role="presentation" ng-class="{active:object==activeObject}" ng-click="activateObject(object)">

          <!-- Object Tab -->
          <a editable-text="object.name" onaftersave="object.$push('name')" e-form="renameBtn">{{object.name}}
            
            <!-- Buttons -->
            <i style="margin-left: 5px;" class="fa fa-pencil"  ng-show="object==activeObject" ng-click="renameBtn.$show()" ng-hide="renameBtn.$visible"></i>
            <i style="margin-left: 5px;" class="fa fa-close"   ng-show="object==activeObject" ng-click="closeObject(object)"></i>
          </a>
        </li>
        
        <!-- Add object -->
        <li>
          <a ng-click="addObject()" role="button">
            <i class="fa fa-plus"></i>
          </a>
        </li>
        
        
      </ul>
    </div>
    <div id="tables-body">
      <div ng-repeat="object in openObjects" ng-show="object==activeObject">

        <div style="margin-bottom: 20px;">
          <a ng-click="addColumn(object)" class="btn btn-default"><i class="fa fa-plus"> Add column</i></a>
          <span class="pull-right"><i class="fa fa-tag"></i><span> {{object.$id()}}</span></span>

          <!--<a class="pull-right btn btn-danger"><i class="fa fa-trash"> Delete</i></a>-->
        </div>
        <object-table ng-if="!object.$refresh" object="object"/>
      </div>
    </div>
  </div>
</div>





