<div id="data-workbench">
  <div id="trees-section">
    <div id="trees-header">




      <div class="btn-group btn-group-sm" role="group" aria-label="...">
        <button ng-click="selectView('data')" type="button" class="btn btn-default" ng-class="{active:activeTree=='data'}">Data</button>
        <!--<button type="button" class="btn btn-default">middle</button>-->
        <button ng-click="selectView('collection')" type="button" class="btn btn-default" ng-class="{active:activeTree=='collection'}">Collection</button>
      </div>

    </div>

    <div id="trees-body">
      <span  ng-show="activeTree=='data'">
        <!--expanded-nodes="datatree"-->
        <treecontrol class="tree-classic" tree-model="openObjects" on-selection="showSelected(node)" options="objectTreeOptions">
          <a ng-click="buttonClick($event, node)">{{node.label}}</a>
        </treecontrol>
      </span>
      <span ng-show="activeTree=='collection'">
        <treecontrol class="tree-classic" tree-model="collectiontree" on-selection="showSelected(node)" options="collectionTreeOptions">
          <a ng-click="buttonClick($event, node)">{{node.label}}</a>
        </treecontrol>
      </span>
    </div>
  </div>

  <div id="tables-section">
    <div id="tables-header">
      <ul class="nav nav-tabs">


        <li ng-repeat="object in openObjects" role="presentation" ng-class="{active:object==activeObject}" ng-click="activateObject(object)"><a href="#">{{object.label}}</a></li>


        <li role="presentation" class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-cog"></i>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a ng-click="openAddObjectModal()">Add object</a></li>
            <li><a ng-click="openAddColumnModal(activeObject)">Add column</a></li>
            <li><a ng-click="openObject({label:'Elephant'})">Open Elephant</a></li>
            <li role="separator" class="divider"></li>
            <li><a ng-click="closeObject(activeObject)">Close object</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div id="tables-body">
      <object-table ng-repeat="object in openObjects" object="object.object" ng-show="object==activeObject"/>
    </div>
  </div>
</div>





