// The lines below is needed for importing external CSS files

//noinspection CssUnknownTarget
@import "bower_components/bootstrap/less/bootstrap.less";

//noinspection CssUnknownTarget
@import "bower_components/font-awesome/less/font-awesome.less";

// Inline is important for CSS files due to CSS minification, it actually compiles in to this file
//noinspection CssUnknownTarget
@import (inline) "bower_components/angular-xeditable/dist/css/xeditable.css";

//noinspection CssUnknownTarget
@import (inline) "bower_components/handsontable/dist/pikaday/pikaday.css";

//noinspection CssUnknownTarget
@import (inline) "bower_components/handsontable/dist/handsontable.css";

//noinspection CssUnknownTarget
@import (inline) "bower_components/x-editable/dist/bootstrap3-editable/css/bootstrap-editable.css";

//noinspection CssUnknownTarget
@import (inline) "bower_components/select2/dist/css/select2.css";

//noinspection CssUnknownTarget
@import (inline) "bower_components/angular-tree-control/css/tree-control.css";


// Fonts
@fa-font-path: "bower_components/font-awesome/fonts";

body {
  display: table;
  width:100%;
}

#data-workbench {
  display: table;
  width:100%;
}




#trees-section {
  display: table-cell;
  width: 250px;
}

#trees-header {
  display: block;
  width:100%;
}

#trees-body {
  display: block;
}



#tables-section {
  display: table-cell;
}

#tables-header {
  display: inline-block;
  width:100%;

  li {
    display: inline-block;
  }
}

#tables-body {
  display: block;
  padding:0px;
}
#tables-container {
  display: inline-block;
}

button.btn {
  vertical-align: top;
}